<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <div style="text-align:right; margin: 1em;">
    <a href="/login" class="btn btn-primary">Zaloguj się jako administrator</a>
  </div>
  <h1>Welcome to the Admin Dashboard</h1>
  <p>Manage users, timetables and more.</p>
</body>
</html>
